html,
body {
    height: 100%;
    min-width: 400px;
}

body {
    background: rgb(209, 125, 7);
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

.text-responsive-sm {
    font-size: calc(90% + 0.3vw + 0.3vh);
}

.hidden {
    display: none !important;
}


/*** BARRA SUPERIOR ***/

.navbar {
    background-color: #ffdba4;
}

.navbar-brand>img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.navbar-brand>h1 {
    font-variant: small-caps;
}

.no-loggin-warning {
    background-color: #ffdba4;
    padding: 0px 10px 10px 10px;
    text-align: center;
}


/*** FORMULARIO AÑADIR SERIES ***/


/*** LISTA SERIES ***/

#lista-series {
    padding-left: 0;
}

#lista-series>li {
    border-color: #856404;
}

hr {
    width: 100%;
    background-color: #856404;
    height: 1px;
}

.serie-platform {
    margin: 5px 0 0 5px;
}

.serie-available-chapter-input,
.serie-last-chapter-input {
    font-size: 2rem;
    width: 4rem;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    color: #d27f07;
    font-weight: bold;
    border: 1px solid #856718;
}

.plus-chapter {
    margin-right: 20px;
}

.serie-viewed {
    background-color: #fff3cda3;
}


/*** LOADER ***/

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #d27e07;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/***** MEDIA QUERIES **********/

@media (max-width: 768px) {
    .facet_sidebar {
        display: none;
    }
}